{% extends 'base.html.twig' %}

{% block title %}Password reset{% endblock %}

{% block body %}
    <h1>Enter the new password</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.plainPassword) }}
        <div>
            <button type="submit">Password reset</button>
        </div>
    {{ form_end(form) }}

    <p><a href="{{ path('gbere_auth_login') }}">Login</a></p>
{% endblock %}
