{% extends '@GbereSimpleAuth/frontend/layout.html.twig' %}

{% form_theme form '@GbereSimpleAuth/frontend/form_theme.html.twig' %}

{% block title %}Password request{% endblock %}

{% block form_body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}

        <div class="auth-btn">
            <button class="btn btn-primary" type="submit">Password request</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block form_footer %}
    Do you remember your password?
    <a href="{{ path('simple_auth_login') }}">Login!</a>
{% endblock %}
