{% extends '@GbereSimpleAuth/frontend/layout.html.twig' %}

{% form_theme form '@GbereSimpleAuth/frontend/form_theme.html.twig' %}

{% block title %}Register{% endblock %}

{% block form_body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.password) }}

        <div class="auth-btn">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block form_footer %}
    Are you already registered?
    <a href="{{ path('gbere_auth_login') }}">Login!</a>
{% endblock %}
