{% extends '@GbereSimpleAuth/frontend/layout.html.twig' %}

{% form_theme form '@GbereSimpleAuth/frontend/form_theme.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block form_body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.plainPassword) }}

        <div class="auth-btn">
            <button class="btn btn-primary" type="submit">Reset password</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block form_footer %}
    Do you remember your password?
    <a href="{{ path('simple_auth_login') }}">Login!</a>
{% endblock %}
