{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <h1>Login</h1>

    {% if last_auth_error %}
        <div>{{ last_auth_error.messageKey|trans(last_auth_error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('gbere_auth_login') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ last_username }}">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="remember_me">Remember-me</label>
        <input type="checkbox" id="remember_me" name="_remember_me">
        <button type="submit">login</button>
    </form>

    <a href="{{ path('gbere_auth_register') }}">Register</a>
{% endblock %}
