{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <div>
            <button type="submit">Submit</button>
        </div>
    {{ form_end(form) }}

    <p><a href="{{ path('gbere_auth_login') }}">Login</a></p>
{% endblock %}
